$issue-width: 160px;

*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: #333;
}

::-webkit-scrollbar{
	display: none;
}

@for $i from 1 to 12{
	.col-#{$i}{
		width: ($issue-width * $i);
	}
}

.columns{
	display: flex;
	height: 100%;
}
.column{
	height: 100%;
	background: #333;
	&:nth-child(even){
		background: #383838;
	}
}
.status{
	padding: 5px;
	margin-bottom: 3px;
	background: #282828;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	color: #ddd;
}
.issues{
	display: flex;
	flex-wrap: wrap;
}
.issue{
	position: relative;
	display: flex;
	width: calc(100vw / 12);
	padding: 2px;
	font-size: 10px;
	text-decoration: none;
	color: #bbb;
	word-break: break-word;
}
.issue-inner{
	width: 100%;
	border: 1px solid #555;
	background: #222;
	display: flex;
	flex-direction: column;
	padding: 4px;
}
.project{
	font-weight: 600;
}
.badge{
	position: absolute;
	top: 3px;
	right: 3px;
	padding: 2px;
}