$issue-width: 160px;

*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: #333;
}

::-webkit-scrollbar{
	display: none;
}

@for $i from 1 to 12{
	.col-#{$i}{
		width: ($issue-width * $i);
	}
}

.columns{
	display: flex;
	height: 100%;
}
.column{
	height: 100%;
	background: #333;
	&:nth-child(even){
		background: #383838;
	}
}
.status{
	position: relative;
	padding: 5px;
	margin-bottom: 3px;
	background: #282828;
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
	color: #ddd;
	&:after{
		position: absolute;
		content: "";
		width: 100%;
		height: 1px;
		background: rgba(#fff,.1);
		bottom: 0;
		left: 0;
	}
}
.issues{
	display: flex;
	flex-wrap: wrap;
}
.issue{
	position: relative;
	display: flex;
	width: calc(100vw / 12);
	padding: 1px;
	font-size: 10px;
	text-decoration: none;
	color: #222;
	word-break: break-word;
}
.issue-inner{
	width: 100%;
	border-top: none;
	background: #ddd;
	display: flex;
	flex-direction: column;
	padding: 2px 4px;
}
.priority{
	position: absolute;
	width: 9px;
	height: 9px;
	top: 6px;
	right: 6px;
	border: 1px solid rgba(#000,.2);
	&.low{ background: #6da79b; }
	&.medium{ background: #f39f09; }
	&.high{ background: #f26f21; }
	&.critical{ background: #952715; }
}
.project{
	font-weight: 600;
}
.duedate{
	position: absolute;
	top: 3px;
	right: 18px;
	z-index: 1;
	color: rgba(#000, 0.8);
}